@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
	--c-white: #fff;
	--c-blue: #095c5c;
	--c-blue-soft: hsl(180, 60%, 70%);
	--c-black: #121212;

	--c-primary: var(--c-blue);
	--c-primary-soft: var(--c-blue-soft);
}

:root {
	--c-text: var(--c-black);
	--c-text-hover: var(--c-primary);
	--c-background: var(--c-white);
	--c-faded-background: #121212fa;
	--c-faded-text: var(--c-white);
	--c-button-text: var(--c-white);
	--c-button-background: var(--c-primary);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
	display: flex;
}

a:hover {
	cursor: pointer;
}

.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}

button {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	background: none;
	font-size: 1em;

	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	font-size: 24px;
	font-family: 'Geologica', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: var(--c-text);
	background: var(--c-background);
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.masonry-item {
	display: flex;
}

strong {
	font-weight: bold;
}

textarea {
	resize: none;
	width: 100%;
	font-size: 1em;
	height: 2em;
}
